@import './btn.scss';
@import './element-ui.scss';
@import "./mixin.scss";
*{
  margin: 0;
  padding: 0;
}
body {
  min-width: 1366px;
  background-color: #fafafa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
a:hover{color: #20a0ff}
li{list-style: none; }

.font-0{font-size:0px}
.font-12{font-size:12px}
.font-13{font-size:13px}
.font-14{font-size:14px}
.font-16{font-size:16px}
.font-17{font-size:17px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-22{font-size:22px}
.font-24{font-size:24px}
.font-33{font-size:33px}
.font-34{font-size:34px}
.color-main{color: #c429af}
.cGray{color:#6c6c6c}
.cRed{color:#ff0000}
.cWhite{color:#fff}
.cBlack{color:#333}
.c-blue{color: #409EFF}
.c-success{color: #67C23A}
.c-warning{color: #EB9E05}
.c-danger{color: #FA5555}
.c-info{color: #878D99}
.text-right{text-align:right}
.text-left{text-align:left}
.text-center{text-align:center}
.relative{position: relative;}
.absolute{position: absolute;}
.cover{background-position:center;background-repeat:no-repeat;background-size:cover}
.flex-wrap{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.flex-items{-webkit-box-flex:1; -webkit-flex:1; flex:1;}
.padding-t{padding-top: 15px}
.padding-b{padding-bottom: 15px}
.padding-tb{padding: 15px 0}
.padding-l{padding-left: 15px}
.padding-r{padding-right: 15px}
.padding-lr{padding: 0 15px}
.padding-a{padding: 15px}
.p0{padding:0}.p5{padding:5px}.p10{padding:10px}.p15{padding:15px}.p20{padding:20px}.p25{padding:25px}.p30{padding:30px}.p35{padding:35px}.p40{padding:40px}.p45{padding:45px}.p50{padding:50px}.p55{padding:55px}.p60{padding:60px}.p65{padding:65px}.p70{padding:70px}.p75{padding:75px}.p80{padding:80px}.p85{padding:85px}.p90{padding:90px}.p95{padding:95px}.p100{padding:100px}.pt0{padding-top:0}.pt5{padding-top:5px}.pt10{padding-top:10px}.pt15{padding-top:15px}.pt20{padding-top:20px}.pt25{padding-top:25px}.pt30{padding-top:30px}.pt35{padding-top:35px}.pt40{padding-top:40px}.pt45{padding-top:45px}.pt50{padding-top:50px}.pt55{padding-top:55px}.pt60{padding-top:60px}.pt65{padding-top:65px}.pt70{padding-top:70px}.pt75{padding-top:75px}.pt80{padding-top:80px}.pt85{padding-top:85px}.pt90{padding-top:90px}.pt95{padding-top:95px}.pt100{padding-top:100px}.pt120{padding-top:120px}.pr0{padding-right:0}.pr5{padding-right:5px}.pr10{padding-right:10px}.pr15{padding-right:15px}.pr20{padding-right:20px}.pr25{padding-right:25px}.pr30{padding-right:30px}.pr35{padding-right:35px}.pr40{padding-right:40px}.pr45{padding-right:45px}.pr50{padding-right:50px}.pr55{padding-right:55px}.pr60{padding-right:60px}.pr65{padding-right:65px}.pr70{padding-right:70px}.pr75{padding-right:75px}.pr80{padding-right:80px}.pr85{padding-right:85px}.pr90{padding-right:90px}.pr95{padding-right:95px}.pr100{padding-right:100px}.pb0{padding-bottom:0}.pb5{padding-bottom:5px}.pb10{padding-bottom:10px}.pb15{padding-bottom:15px}.pb20{padding-bottom:20px}.pb25{padding-bottom:25px}.pb30{padding-bottom:30px}.pb35{padding-bottom:35px}.pb40{padding-bottom:40px}.pb45{padding-bottom:45px}.pb50{padding-bottom:50px}.pb55{padding-bottom:55px}.pb60{padding-bottom:60px}.pb65{padding-bottom:65px}.pb70{padding-bottom:70px}.pb75{padding-bottom:75px}.pb80{padding-bottom:80px}.pb85{padding-bottom:85px}.pb90{padding-bottom:90px}.pb95{padding-bottom:95px}.pb100{padding-bottom:100px}.pb120{padding-bottom:120px}.pl0{padding-left:0}.pl5{padding-left:5px}.pl10{padding-left:10px}.pl15{padding-left:15px}.pl20{padding-left:20px}.pl25{padding-left:25px}.pl30{padding-left:30px}.pl35{padding-left:35px}.pl40{padding-left:40px}.pl45{padding-left:45px}.pl50{padding-left:50px}.pl55{padding-left:55px}.pl60{padding-left:60px}.pl65{padding-left:65px}.pl70{padding-left:70px}.pl75{padding-left:75px}.pl80{padding-left:80px}.pl85{padding-left:85px}.pl90{padding-left:90px}.pl95{padding-left:95px}.pl100{padding-left:100px}
.m0{margin:0}.m5{margin:5px}.m10{margin:10px}.m15{margin:15px}.m20{margin:20px}.m25{margin:25px}.m30{margin:30px}.m35{margin:35px}.m40{margin:40px}.m45{margin:45px}.m50{margin:50px}.m55{margin:55px}.m60{margin:60px}.m65{margin:65px}.m70{margin:70px}.m75{margin:75px}.m80{margin:80px}.m85{margin:85px}.m90{margin:90px}.m95{margin:95px}.m100{margin:100px}.mt0{margin-top:0!important}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt25{margin-top:25px}.mt30{margin-top:30px}.mt35{margin-top:35px}.mt40{margin-top:40px}.mt45{margin-top:45px}.mt50{margin-top:50px}.mt55{margin-top:55px}.mt60{margin-top:60px}.mt65{margin-top:65px}.mt70{margin-top:70px}.mt75{margin-top:75px}.mt80{margin-top:80px}.mt85{margin-top:85px}.mt90{margin-top:90px}.mt95{margin-top:95px}.mt100{margin-top:100px}.mt110{margin-top:110px}.mt120{margin-top:120px}.mt-75{margin-top:-75px}.mr0{margin-right:0}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr25{margin-right:25px}.mr30{margin-right:30px}.mr35{margin-right:35px}.mr40{margin-right:40px}.mr45{margin-right:45px}.mr50{margin-right:50px}.mr55{margin-right:55px}.mr60{margin-right:60px}.mr65{margin-right:65px}.mr70{margin-right:70px}.mr75{margin-right:75px}.mr80{margin-right:80px}.mr85{margin-right:85px}.mr90{margin-right:90px}.mr95{margin-right:95px}.mr100{margin-right:100px}.mb0{margin-bottom:0}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mb25{margin-bottom:25px!important}.mb30{margin-bottom:30px!important}.mb35{margin-bottom:35px!important}.mb40{margin-bottom:40px!important}.mb45{margin-bottom:45px!important}.mb50{margin-bottom:50px!important}.mb55{margin-bottom:55px!important}.mb60{margin-bottom:60px!important}.mb65{margin-bottom:65px!important}.mb70{margin-bottom:70px!important}.mb75{margin-bottom:75px!important}.mb80{margin-bottom:80px!important}.mb85{margin-bottom:85px!important}.mb90{margin-bottom:90px!important}.mb95{margin-bottom:95px!important}.mb100{margin-bottom:100px!important}.ml0{margin-left:0}.ml5{margin-left:5px}.ml10{margin-left:10px}.ml15{margin-left:15px}.ml20{margin-left:20px}.ml25{margin-left:25px}.ml30{margin-left:30px}.ml35{margin-left:35px}.ml40{margin-left:40px}.ml45{margin-left:45px}.ml50{margin-left:50px}.ml55{margin-left:55px}.ml60{margin-left:60px}.ml65{margin-left:65px}.ml70{margin-left:70px}.ml75{margin-left:75px}.ml80{margin-left:80px}.ml85{margin-left:85px}.ml90{margin-left:90px}.ml95{margin-left:95px}.ml100{margin-left:100px}.mt-5{margin-top:-5px}.mt-10{margin-top:-10px}.mt-15{margin-top:-15px}.mt-20{margin-top:-20px}.mt-25{margin-top:-25px}.mt-30{margin-top:-30px}.mt-35{margin-top:-35px}.mt-40{margin-top:-40px}.mt-45{margin-top:-45px}.mt-50{margin-top:-50px}.mt-55{margin-top:-55px}.mt-60{margin-top:-60px}.mt-65{margin-top:-65px}.mt-70{margin-top:-70px}.mt-75{margin-top:-75px}.mt-80{margin-top:-80px}.mt-85{margin-top:-85px}.mt-90{margin-top:-90px}.mt-95{margin-top:-95px}.mt-100{margin-top:-100px}.mt-110{margin-top:-110px}.mt-120{margin-top:-120px}.mt-130{margin-top:-130px}.mt-140{margin-top:-140px}.mt-150{margin-top:-150px}.ml-5{margin-left:-5px}.ml-10{margin-left:-10px}.ml-15{margin-left:-15px}.ml-20{margin-left:-20px}.ml-25{margin-left:-25px}.ml-30{margin-left:-30px}.ml-35{margin-left:-35px}.ml-40{margin-left:-40px}.ml-45{margin-left:-45px}.ml-50{margin-left:-50px}.ml-55{margin-left:-55px}.ml-60{margin-left:-60px}.ml-65{margin-left:-65px}.ml-70{margin-left:-70px}.ml-75{margin-left:-75px}.ml-80{margin-left:-80px}.ml-85{margin-left:-85px}.ml-90{margin-left:-90px}.ml-95{margin-left:-95px}.ml-100{margin-left:-100px}.ml-110{margin-left:-110px}.ml-120{margin-left:-120px}.ml-130{margin-left:-130px}.ml-140{margin-left:-140px}.ml-150{margin-left:-150px}.mb-5{margin-bottom:-5px}.mb-10{margin-bottom:-10px}.mb-15{margin-bottom:-15px}.mb-20{margin-bottom:-20px}.mb-25{margin-bottom:-25px}.mb-30{margin-bottom:-30px}.mb-35{margin-bottom:-35px}.mb-40{margin-bottom:-40px}.mb-45{margin-bottom:-45px}.mb-50{margin-bottom:-50px}.mb-55{margin-bottom:-55px}.mb-60{margin-bottom:-60px}.mb-65{margin-bottom:-65px}.mb-70{margin-bottom:-70px}.mb-75{margin-bottom:-75px}.mb-80{margin-bottom:-80px}.mb-85{margin-bottom:-85px}.mb-90{margin-bottom:-90px}.mb-95{margin-bottom:-95px}.mb-100{margin-bottom:-100px}.mb-110{margin-bottom:-110px}.mb-120{margin-bottom:-120px}.mb-130{margin-bottom:-130px}.mb-140{margin-bottom:-140px}.mb-150{margin-bottom:-150px}
.l20{line-height:20px}.l25{line-height:25px}.l30{line-height:30px}
.title-name{
  font-size: 18px;
  font-weight: 300;
  color: #07111b;
  margin-bottom: 15px;
  line-height: 20px;
  }
.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

code {
  background: #eef1f6;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-container {
  padding: 20px;
}
.components-container {
  margin: 30px 50px;
  position: relative;
}

.editor-container .CodeMirror {
  height: 100%!important;
}

.wscn-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.publishedTag,
.draftTag,
.deletedTag {
  color: #fff;
  background-color: $panGreen;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.draftTag {
  background-color: $yellow;
}

.deletedTag {
  background-color: $red;
}

.input-label {
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 5px 11px 0;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-marginLeft {
  .el-checkbox {
    margin: 0 20px 15px 0;
  }
  .el-checkbox+.el-checkbox {
    margin-left: 0px;
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}


//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//refine simplemde
.simplemde-container{
  .editor-toolbar.fullscreen,.CodeMirror-fullscreen{
    z-index: 1003;
  }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//github-corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
//  首页侧边列表
.ui-sidebar {
  overflow: hidden;
  margin-bottom: 0px!important;
  .el-col {
    line-height: 36px;
    height: 36px;
    position: relative;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    .ui-label{
      padding: 0 10px;
      color: #808080;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #20a0ff;
        transition: width .3s linear;
      }
      &:hover:before{
        width: 200%;
      }
    }
    .ui-number{
      float: right;
      padding: 0 10px;
      text-align: right;
      height: 36px;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #20a0ff;
        transition: width .3s linear;
      }
      &:hover:before{
        width: 200%;
      }
    }
  }
}

// search
.ui-search-wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border: 1px solid #dfe6ec;
  margin-bottom: 15px;
  padding: 15px 15px 0;
  border-radius: 5px;
  .el-form-item{
    margin-bottom: 15px;
  }
}
// table
.ui-table-wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 15px;
  .ui-table-title-wrap{
    .el-button{
      margin: 4px 15px 0 0;
    }
  }
  a{
    color: #20a0ff;
  }
  .ui-table-title{
    line-height: 35px;
    color: #fff;
    background-color: rgb(131,175,155);
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #dfe6ec;
    border-bottom: 0;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .wscn-icon{
      font-size: 16px;
      color: rgb(158,125,80);
      margin-right: -5px;
    }
  }
  .ui-table-main{
    padding: 15px 15px 0;
  }
  .page-wrap, .pagination-container{
    padding: 15px 15px 0;
  } 
}
// echart
.ui-echart-wrap, .wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}
.ui-form .el-select, .ui-form .el-date-editor, .ui-form .el-cascader {
  width: 100%;
}
.ui-course{background:#FFF;min-height: 89px;}
.ui-course_nr{background:url(http://www.jq22.com/demo/time-141118185149/images/ico9.gif) repeat-x center 35px}
.ui-course_nr>ul{white-space:nowrap;overflow-x: auto;min-height: 100px;}
.ui-course_nr li:hover .ui-once{height: 89px;}
.ui-course_nr li:hover{font-size: 0;}
.ui-course_nr li{cursor: pointer;display: inline-block;vertical-align: top;*display: inline;*zoom:1; background:url(http://www.jq22.com/demo/time-141118185149/images/ico10.gif) no-repeat center 21px; padding-top:50px; width:140px; text-align:center; position:relative;}
.ui-once{transition: height .3s;-moz-transition: height .3s;-webkit-transition: height .3s;-o-transition: height .3s;position:absolute; width:100%; left:0; top:0px;height: 0;overflow: hidden;}
.ui-once h1{margin:0;height:67px; line-height:67px; color:#518dbb; font-weight:bold; background:url(http://www.jq22.com/demo/time-141118185149/images/ico11.gif) no-repeat center top; margin-bottom:8px;font-size:14px;}
.eli{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.eli-2{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.eli-3{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
// filelist
.file-list{
  .file_item{
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
  }
  .file_icon{
    width: 38px;
  }
  .file_name{
    width: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
}

.ui-once p{word-wrap:break-word;line-height:14px;font-size: 16px;}

.A4{
  width: 800px;
  padding: 0 30px 30px;
  margin: 30px auto;
  box-shadow: 0 0 5px 2px rgb(230, 230, 230);
  .paper-title{
    text-align: center;
    font-size: 24px;
    line-height: 100px;
  }
  .big_list{
    .big_item{
      .big_title{
        font-weight: 400;
        font-size: 16px;
      }
      .big_content{
        text-indent: 25px;
        font-size: 14px;
        line-height: 25px;
      }
    }
  }
}