@import './btn.scss';
@import './element-ui.scss';
@import "./mixin.scss";
*{
  margin: 0;
  padding: 0;
}
body {
  min-width: 1366px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

li{list-style: none; }

.font-0{font-size:0px}
.font-12{font-size:12px}
.font-13{font-size:13px}
.font-14{font-size:14px}
.font-16{font-size:16px}
.font-17{font-size:17px}
.font-18{font-size:18px}
.font-20{font-size:20px}
.font-22{font-size:22px}
.font-24{font-size:24px}
.font-33{font-size:33px}
.font-34{font-size:34px}
.color-main{color: #c429af}
.cGray{color:#6c6c6c}
.cRed{color:#ff0000}
.cWhite{color:#fff}
.cBlack{color:#333}
.text-right{text-align:right}
.text-left{text-align:left}
.text-center{text-align:center}
.relative{position: relative;}
.absolute{position: absolute;}
.cover{background-position:center;background-repeat:no-repeat;background-size:cover}
.flex-wrap{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.flex-items{-webkit-box-flex:1; -webkit-flex:1; flex:1;}
.padding-t{padding-top: 15px}
.padding-b{padding-bottom: 15px}
.padding-tb{padding: 15px 0}
.padding-l{padding-left: 15px}
.padding-r{padding-right: 15px}
.padding-lr{padding: 0 15px}
.padding-a{padding: 15px}

.title-name{
  font-size: 18px;
  font-weight: 300;
  color: #07111b;
  margin-bottom: 15px;
  line-height: 20px;
  }
.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

code {
  background: #eef1f6;
  padding: 15px 10px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

//main-container全局样式
.app-container {
  padding: 20px;
}
.components-container {
  margin: 30px 50px;
  position: relative;
}

.editor-container .CodeMirror {
  height: 100%!important;
}

.wscn-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.publishedTag,
.draftTag,
.deletedTag {
  color: #fff;
  background-color: $panGreen;
  line-height: 1;
  text-align: center;
  margin: 0;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.draftTag {
  background-color: $yellow;
}

.deletedTag {
  background-color: $red;
}

.input-label {
  font-size: 14px;
  color: #48576a;
  line-height: 1;
  padding: 11px 5px 11px 0;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.no-marginLeft {
  .el-checkbox {
    margin: 0 20px 15px 0;
  }
  .el-checkbox+.el-checkbox {
    margin-left: 0px;
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}


//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

//refine simplemde
.simplemde-container{
  .editor-toolbar.fullscreen,.CodeMirror-fullscreen{
    z-index: 1003;
  }
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

//github-corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0)
  }
  20%,
  60% {
    transform: rotate(-25deg)
  }
  40%,
  80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
//  首页侧边列表
.ui-sidebar {
  overflow: hidden;
  .el-col {
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    .ui-label{
      padding: 0 10px;
      position: relative;
      color: #808080;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #20a0ff;
        transition: width .3s linear;
      }
      &:hover:before{
        width: 400%;
      }
    }
    .ui-number{
      float: right;
      padding: 0 10px;
      text-align: right;
      height: 36px;
      position: relative;
      &:before{
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 0;
        height: 2px;
        background-color: #20a0ff;
        transition: width .3s linear;
      }
      &:hover:before{
        width: 500%;
      }
    }
  }
}

// search
.ui-search-wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border: 1px solid #dfe6ec;
  margin-bottom: 15px;
  padding: 15px 15px 0;
  border-radius: 5px;
  .el-form-item{
    margin-bottom: 15px;
  }
}
// table
.ui-table-wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border-radius: 5px;
  padding-bottom: 15px;
  .ui-table-title{
    line-height: 35px;
    color: #fff;
    background-color: rgb(131,175,155);
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #dfe6ec;
    border-bottom: 0;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .wscn-icon{
      font-size: 16px;
      color: rgb(158,125,80);
      margin-right: -5px;
    }
  }
  .ui-table-main{
    padding: 15px 15px 0;
  }
  .page-wrap{
    padding: 15px 15px 0;
  } 
}
// echart
.ui-echart-wrap, .wrap{
  box-shadow: 0 2px 6px rgba(0,0,0,.12);
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}